{% extends 'base.html' %}
{% import 'client/modal/clientModalParroquia.html' as cmparroquialist %}
{% block title %}
{{ super() }}
Satec
{% endblock%}
{% block content %}
<div class="container">
    {% if listViewParroquia is true %}
    {{ cmparroquialist.adminModalParroquia("Registro de Usuarios",parroquiaList) }}
    {% endif %}
    <hr>
    <div class="well text-center display-3 m-2">Consulta Por Canton</div>
    {% if cantonList != 0 : %}
    <div class="row">
        <div class="col-8">
            <strong class="display-6">Buscar Por: </strong><span class="display-6">{{ tag }}</span>
        </div>
        <div class="col-4">
            <form action="" method="post" autocomplete="off">
                <div class="row">
                    <div class="col-6">
                        <input type="text" class="form-control" name="tag" id="tag" placeholder="Nombre..." />
                    </div>
                    <div class="col-6" align="left">
                        <input type="submit" value="Search" class="form-control btn btn-primary " name="">
                    </div>
            </form>
        </div>
    </div>
    <div class="row">
        {% for item in cantonList %}
        <div class="col-md-3 ">
            <a href="{{ url_for('crparr.onGetClientControllerParroquiaModalListView', id=item.pfssateccantonid) }}" >
                <div class="card borderHover" style="width: 27rem; margin: 2px;">
                    <span class="ribbon display-3 text-center">{{item.pfssateccantonnombre}}</span>
                    <div class="card-header">
                        <div>
                            <div class="row">
                                <h4><strong>Provincia:&emsp;</strong>{{item.pfssatecprovincianombre}}</h4>
                            </div>
                            <div class="row">
                                <h4><strong>Capital:&emsp;</strong>{{item.pfssateccapitalnombre}}</h4>
                            </div>
                        </div>
                    </div>
                    <img style="width: 100%; height:100px ;" class="card-img-top" src="https://res.cloudinary.com/dqpcafsbb/image/upload/v1769131710/noimage_fy4iax.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-center"></h5>
                        <p class="card-text"></p>
                    </div>
                    <div class="card-footer">
                        <span class="text-center">SATEC</span>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="row">
        <h2 class="text-center" style="padding: 30px; font-size: 10vw ;">NO EXISTE CATEGORIAS</h2>
    </div>
    {% endif %}
</div>
{% block custom_scripts %}
{% if (listViewParroquia is true) %}
<script>
    window.onload = function () {
        $("#modparroquia").modal("show");
    }
</script>
{% endif %}
{% endblock %}
{% endblock %}