<section class="starfn">
    <div>
        <div class="row">
            <div class="col-6">
                <h1>Menu</h1>
            </div>
            <div class="col-6">
                <button class="abg">
                    <div class="hamburger">
                        <hr>
                        <hr>
                        <hr>
                    </div>
                </button>
            </div>
        </div>
    </div>
    <nav class="navs">
        <ul>
            {% if current_user.is_authenticated %}
            {% if current_user.id == 'starfaby' %}
            {% if current_user.userisadmin == True %}
            {% if current_user.emailuser == 'star._faby@hotmail.com' %}
            <li class="submenu">
                <button class="btnsm">Admin</button>
                <ul class="abgm">
                    <li><a href="/aral">Admin Asuntos Legales <span class="icon"></span></a></li>
                    <li><a href="/arc">Admin Casos<span class="icon"></span></a></li>
                    <li><a href="/arp">Admin Procesos<span class="icon"></span></a></li>
                    <li><a href="/aru">Admin Users<span class="icon"></span></a></li>
                    <li><a href="/arcmt">Admin Comentario<span class="icon"></span></a></li>
                    <!--
                    <li><a href="/adpromo">Admin Promociones<span class="icon"></span></a></li>
                    <li><a href="/racnt">Admin Canasta<span class="icon"></span></a></li>
                    <li><a href="/ralcr">lucro<span class="icon"></span></a></li>
                    -->
                </ul>
            </li>
            {% endif %}
            {% endif %}
            {% endif %}
            {% endif %}
            <li><a href="/"><span class="icon">Inicio</span></a></li>
            <li><a href="/crstc"><span class="icon">SATEC</span></a></li>
            <li><a href="/crcnt"><span class="icon">Canton</span></a></li>
            <li><a href="#"><span class="icon">Quienes Somos</span></a></li>
            <li><a href="/cra"><span class="icon">Sarai</span></a></li>
            <li class="logger">
                <ul>
                    {% if current_user.is_authenticated %}
                        {% if current_user.id == 'starfaby' %}
                        {% if current_user.userisadmin == True %}
                        {% if current_user.emailuser == 'star._faby@hotmail.com' %}
                        <li><span class="bienvenido">Bienvenido:</span></li>
                        <li><img class="imguser" src="{{current_user.avataruser}}" alt="" style="width: 20px; height: 20px;">
                        </li>
                        <li><button class="btnlogout"><a href="/araulgt">Logout</a></button></li>
                        {% endif %}
                        {% endif %}
                        {% endif %}

                    {% else %}
                    <li class="w-100 p-3"><button class="btnloginin w-100"><a class="nav-link"
                                href="/arulgn">Login-In</a></button></li>
                    {% endif %}
                </ul>
            </li>
        </ul>
    </nav>
</section>