{% extends 'base.html' %}
{% block title %}
{{ super() }}
Admin Comentario
{% endblock%}

{% block content %}
<div class="container">
    
    <div class="row">
        <div class="col-8">
            <strong>Buscar Por: {{ tag }}</strong>
        </div>
        <div class="col-4">
            <form action="" method="post" autocomplete="off">
                <div class="row">
                    <div class="col-6">
                        <input type="text" class="form-control" name="tag" id="tag" placeholder="Nombre..." />
                    </div>
                    <div class="col-6" align="left">
                        <input type="submit" value="Search" class="form-control btn btn-primary " name="">
                    </div>
            </form>
        </div>
    </div>
    <div class="table-responsive">

        <table class="table text-center">
            <thead>
                <tr class="text-center">
                    <th scope="col">#</th>
                    <th scope="col">Comentario</th>
                    <th scope="col">email</th>
                    <th scope="col">Estado</th>
                    <th scope="col">CreatedAt</th>
                    <th scope="col" colspan="2">Accion</th>
                </tr>
            </thead>
            <tbody>
                {% if comentarioList != []: %}
                {% for item in comentarioList.items %}
                <tr>
                    <th scope="row">{{item.pfsapucid}}</th>
                    <td>{{item.pfsapucomentario}}</td>
                    <td>{{item.pfsapucemail}}</td>
                    <td>{{item.pfsapucestado}}</td>
                    <td>{{item.pfsapucreatedat}}</td>
                    <td>
                        <button>
                            <a href="{{ url_for('arcmt.onGetAdminControllerComentarioDelete', id=item.pfsapucid) }}">Eliminar
                            </a>
                        </button>
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="9">
                        <div class="d-flex justify-content-center">
                            <div class="spinner-grow" style="width: 5rem; height: 5rem;" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endif %}
            </tbody>
        </table>
        {% if comentarioList != []: %}
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if comentarioList.has_prev %}
                <li class="page-item"> <a class="page-link"
                        href="{{ url_for('arcmt.onGetAdminControllerComentarioListView', page=comentarioList.prev_num )}}">Previous</a>
                </li>
                {% else %}
                <li class="page-item"> <a class="page link btn disabled" href="#">Previous</a></li>
                {% endif %}
                {% for page in comentarioList.iter_pages(left_edge=3, right_edge=3) %}
                {% if page %}

                {% if page==comentarioList.page %}
                <li class="page-item active"><a class="page-link"
                        href="{{ url_for('arcmt.onGetAdminControllerComentarioListView', page=page) }}">{{ page
                        }}</a></li>
                {% else %}
                <li class="page-item"><a class="page-link"
                        href="{{ url_for('arcmt.onGetAdminControllerComentarioListView', page=page) }}">{{ page
                        }}</a></li>
                {% endif %}

                {% else %}
                <li class="page-item disabled" id="example_ellipsis"><a href="#" class="page-link">…</a></li>
                {% endif %}
                {% endfor %}
                {% if comentarioList.has_next %}
                <li class="page-item"> <a class="page-link"
                        href="{{ url_for('arcmt.onGetAdminControllerComentarioListView', page=comentarioList.next_num )}}">Next</a>
                </li>
                {% else %}
                <li class="page-item"> <a class="page link btn disabled" href="#">Previous</a></li>
                {% endif %}

            </ul>
        </nav>
        {% endif %}
    </div>
</div>
{% endblock %}