{% extends 'base.html' %}
{% import 'admin/modal/adminModalProceso.html' as amprocesosaveupdate %}
{% block title %}
{{ super() }}
Admin User
{% endblock%}

{% block content %}
<div class="container">
    <a href="{{ url_for('arp.onGetAdminControllerModalProcesoSaveView') }}" class="btn btn-primary btn-lg">Add
        Proceso</a>
    {% if save is true %}
    {{ amprocesosaveupdate.adminModalProcesoSave("Registro de Proceso",adminFormsWtfProceso) }}
    {% endif %}
    {% if update is true %}
    {{ amprocesosaveupdate.adminModalProcesoUpdate("Actualización de Usuarios", adminFormsWtfProceso, dataProceso) }}
    {% endif %}
    <hr>
    <div class="row">
        <div class="col-8">
            <strong>Buscar Por: {{ tag }}</strong>
        </div>
        <div class="col-4">
            <form action="" method="post" autocomplete="off">
                <div class="row">
                    <div class="col-6">
                        <input type="text" class="form-control" name="tag" id="tag" placeholder="Nombre..." />
                    </div>
                    <div class="col-6" align="left">
                        <input type="submit" value="Search" class="form-control btn btn-primary " name="">
                    </div>
            </form>
        </div>
    </div>
    <div class="table-responsive">

        <table class="table text-center">
            <thead>
                <tr class="text-center">
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Detalle</th>
                    <th scope="col">Estado</th>
                    <th scope="col">CreatedAt</th>
                    <th scope="col">Caso Id</th>
                    <th scope="col" colspan="2">Accion</th>
                </tr>
            </thead>
            <tbody>
                {% if procesoList != []: %}
                {% for item in procesoList.items %}
                <tr>
                    <th scope="row">{{item.pfsaprcsid}}</th>
                    <td>{{item.pfsaprcsnombre}}</td>
                    <td>{{item.pfsaprcsdetalle}}</td>
                    <td>{{item.pfsaprcsestado}}</td>
                    <td>{{item.pfsaprcscreatedat}}</td>
                    <td>{{item.pfsapcasoid}}</td>
                    <td>
                        <button>
                            <a href="{{ url_for('arp.onGetAdminControllerModalProcesoUpdateView', id=item.pfsaprcsid) }}">
                                actualizar
                            </a>
                        </button>
                    </td>
                    <td>
                        <button>
                            <a href="{{ url_for('arp.onGetAdminControllerProcesoDelete', id=item.pfsaprcsid) }}">Eliminar
                            </a>
                        </button>
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="9">
                        <div class="d-flex justify-content-center">
                            <div class="spinner-grow" style="width: 5rem; height: 5rem;" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endif %}
            </tbody>
        </table>
        {% if procesoList != []: %}
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if procesoList.has_prev %}
                <li class="page-item"> <a class="page-link"
                        href="{{ url_for('aral.onGetAdminControllerAsuntosLegalesListView', page=procesoList.prev_num )}}">Previous</a>
                </li>
                {% else %}
                <li class="page-item"> <a class="page link btn disabled" href="#">Previous</a></li>
                {% endif %}
                {% for page in procesoList.iter_pages(left_edge=3, right_edge=3) %}
                {% if page %}

                {% if page==procesoList.page %}
                <li class="page-item active"><a class="page-link"
                        href="{{ url_for('arp.onGetAdminControllerProcesoListView', page=page) }}">{{ page
                        }}</a></li>
                {% else %}
                <li class="page-item"><a class="page-link"
                        href="{{ url_for('arp.onGetAdminControllerProcesoListView', page=page) }}">{{ page
                        }}</a></li>
                {% endif %}

                {% else %}
                <li class="page-item disabled" id="example_ellipsis"><a href="#" class="page-link">…</a></li>
                {% endif %}
                {% endfor %}
                {% if procesoList.has_next %}
                <li class="page-item"> <a class="page-link"
                        href="{{ url_for('arp.onGetAdminControllerProcesoListView', page=procesoList.next_num )}}">Next</a>
                </li>
                {% else %}
                <li class="page-item"> <a class="page link btn disabled" href="#">Previous</a></li>
                {% endif %}

            </ul>
        </nav>
        {% endif %}
    </div>
</div>
{% block custom_scripts %}
{% if (save is true) or (update is true) %}
<script>
    window.onload = function () {
        $("#procesosave").modal("show");
        $("#procesoUpdate").modal("show");
    }
</script>
{% endif %}
{% endblock %}
{% endblock %}