{% from "admin/macro/macroHelperField.html" import renderField, renderRadioField %}
<!------------------------------------------------------------------------------->
<!------------------------------------------------------------------------------->
<!-------------------------------SAVE USUARIO---------------------------------->
<!------------------------------------------------------------------------------->
<!------------------------------------------------------------------------------->
{% macro adminModalUserSave(title, adminFormsWtfUser) %}
<div class="modal" id="usersave" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-2 fw-bolder" id="staticBackdropLabel">{{title}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/arums" method="post">

                    {{ adminFormsWtfUser.csrf_token }}
    
                    {{renderField(adminFormsWtfUser.id)}}
                    {{renderField(adminFormsWtfUser.cedula)}}
                    {{renderField(adminFormsWtfUser.nombres)}}
                    {{renderField(adminFormsWtfUser.apellidos)}}
                    {{renderField(adminFormsWtfUser.username)}}
                    {{renderField(adminFormsWtfUser.email)}}
                    {{renderField(adminFormsWtfUser.password)}}
                    {{renderField(adminFormsWtfUser.direccion)}}
                    {{renderField(adminFormsWtfUser.celular)}}
                    {{renderField(adminFormsWtfUser.telefono)}}
                    {{renderField(adminFormsWtfUser.estado)}}
                    
    
                    <button class="btn btn-primary" type="submit" >Guardar</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endmacro %}
<!------------------------------------------------------------------------------->
<!------------------------------------------------------------------------------->
<!-------------------------------UPDATE USUARIO---------------------------------->
<!------------------------------------------------------------------------------->
<!------------------------------------------------------------------------------->
{% macro adminModalUserUpdate(title, adminFormsWtfUser, dataUser) %}
<div class="modal" id="userupdate" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-2 fw-bolder" id="staticBackdropLabel">{{title}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="#" method="post">

                    {{ adminFormsWtfUser.csrf_token }}
    
                    {{renderField(adminFormsWtfUser.id, value=dataUser.pfsusersid)}}
                    {{renderField(adminFormsWtfUser.cedula, value=dataUser.pfsuserscedula)}}
                    {{renderField(adminFormsWtfUser.nombres, value=dataUser.pfsusersnombres)}}
                    {{renderField(adminFormsWtfUser.apellidos, value=dataUser.pfsusersapellidos)}}
                    {{renderField(adminFormsWtfUser.username, value=dataUser.pfsusersusername)}}
                    {{renderField(adminFormsWtfUser.email, value=dataUser.pfsusersemail)}}
                    {{renderField(adminFormsWtfUser.password, value=dataUser.pfsuserspassword)}}
                    {{renderField(adminFormsWtfUser.direccion, value=dataUser.pfsusersdireccion)}}
                    {{renderField(adminFormsWtfUser.celular, value=dataUser.pfsuserscelular)}}
                    {{renderField(adminFormsWtfUser.telefono, value=dataUser.pfsuserstelefono)}}
                    {{renderField(adminFormsWtfUser.estado, value=dataUser.pfsusersestado)}}
                    
    
                    <button class="btn btn-primary" type="submit" >Guardar</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endmacro %}