{% from "admin/macro/macroHelperField.html" import renderField, renderRadioField %}
<!------------------------------------------------------------------------------->
<!------------------------------------------------------------------------------->
<!-------------------------------SAVE USUARIO---------------------------------->
<!------------------------------------------------------------------------------->
<!------------------------------------------------------------------------------->
{% macro adminModalAsuntoLegalSave(title, adminFormsWtfAsuntosLegales) %}
<div class="modal" id="asuntoLegalsave" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-2 fw-bolder" id="staticBackdropLabel">{{title}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/aralms" method="post">

                    {{ adminFormsWtfAsuntosLegales.csrf_token }}
    
                    {{renderField(adminFormsWtfAsuntosLegales.nombre)}}
                    {{renderField(adminFormsWtfAsuntosLegales.image)}}
                    {{renderField(adminFormsWtfAsuntosLegales.detalle)}}
                    {{renderField(adminFormsWtfAsuntosLegales.estado)}}
                    
    
                    <button class="btn btn-primary" type="submit" >Guardar</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endmacro %}
<!------------------------------------------------------------------------------->
<!------------------------------------------------------------------------------->
<!-------------------------------UPDATE USUARIO---------------------------------->
<!------------------------------------------------------------------------------->
<!------------------------------------------------------------------------------->
{% macro adminModalAsuntoLegalUpdate(title, adminFormsWtfAsuntosLegales, dataUser) %}
<div class="modal" id="asuntoLegalUpdate" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-2 fw-bolder" id="staticBackdropLabel">{{title}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/aralmu" method="post">

                    {{ adminFormsWtfAsuntosLegales.csrf_token }}
                    <div class="">
                        {{ renderField(adminFormsWtfAsuntosLegales.id, value=dataUser.pfsapalid)}}
                    </div>
                    {{renderField(adminFormsWtfAsuntosLegales.nombre, value=dataUser.pfsapalnombre)}}
                    {{renderField(adminFormsWtfAsuntosLegales.image, value=dataUser.pfsapalimage)}}
                    {{renderField(adminFormsWtfAsuntosLegales.detalle, value=dataUser.pfsapaldetalle)}}
                    {{renderField(adminFormsWtfAsuntosLegales.estado, value=dataUser.pfsapalestado)}}
                    
    
                    <button class="btn btn-primary" type="submit" >Actualizar</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endmacro %}