{% macro adminModalPresentacionAbg(title) %}
<div class="modal" id="modpresenabg" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-2 fw-bolder" id="staticBackdropLabel">{{title}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                    <img style="width: 100%; height:150px ;" class="card-img-top"
                        src="https://res.cloudinary.com/dvqgk49zn/image/upload/v1721408517/aux/vozanimate_knojmx.gif"
                        alt="Card image cap">
                        <audio src="https://res.cloudinary.com/dpj9bxnhj/video/upload/v1722017363/presentacionabg_jbdtyy.mp3"  autoplay></audio>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endmacro %}